body {
    grid-template-columns: 80% 20%;

    grid-template-areas: 'header header'
                          'main main'
                          'left right'
                          'footer footer'  ;
    font-family: Helvetica;
}

header{
    grid-area: header;
    
}
footer{
    grid-area: footer;
}
main{
    grid-area: main;
}
.left{
    grid-area: left;
}
.right{
    grid-area: right;
}