*{
    font-family: Garamond; 
}
body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
            'header aside'
            'main   aside'
            'footer footer';
}

header{
    background-color: tomato;
    text-align: center;
    color: white;
    height: 80px;
    grid-area: header;
}
main{
    height: 600px;
    grid-area: main;
}
aside{
    background-color: coral;
    height: 680px;
    grid-area: aside;
}
footer{
    background-color: tomato;
    color: white;
    text-align: center;
    grid-area: footer;
}

img{
    
    margin-left: 10px;

}
div{
    display: flex;
}
.chat{
    border: 1px solid tomato;   
    margin: 15px;
    height: 470px;
    overflow:scroll
}
.jola, .krzysiek{

    margin: 2%;
    padding: 3px;
}
section{
    width: 80%;

}