body {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas: 
         'lt   rt'
         'lt   rb'
         'lb   rb'
         'ft   ft'   
    ;
    font-family: Garamond;
}

.left-top {
    grid-area: lt;
    height: 500px;
    background-color: Lavender;
}

.left-bottom{
    grid-area: lb;
    height: 300px;
    background-color:  Lavender;
}

.right-top {
    grid-area: rt;
    height: 150px;
    background-color: Indigo;
    text-align: center;
    color: white;
    font-size: 200%;
}

.right-bottom {
    grid-area: rb;
    height: 650px;
    background-color: lavender;
    font-size: 200%;
    text-align: center;
}
footer{
    height: 100px;
    background-color: indigo;
    grid-area: ft;
    color: white;
    text-align: right;
}
ul{
    list-style-type: square;

}
img{
    padding: 5px;
    margin: 10px;
}
img:hover{
    padding: 4px;
    border: 1px solid indigo;
}